.back {
  padding: 0.2em 0.5em;
  border-radius: 4px;
  font-size: 1.25rem;
  border: 1px solid var(--translucentOrange);
  color: var(--orange);
  background-color: var(--lowTranslucentOrange);
  transition-duration: 200ms;
  margin-bottom: 20px;
  display: inline-block;
  font-size: 1.1rem;

  @media print {
    display: none !important;
  }
}

.back:hover {
  border: 1px solid var(--orange);
}
