.navbar-wrapper {
  background-color: hsl(240, 18%, 13%);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 10;
  padding-left: var(--responsive-padding);
  padding-right: var(--responsive-padding);
  padding-bottom: var(--safe-area-inset-bottom);
}

@supports (padding: max(0px)) {
  .navbar-wrapper {
    padding-left: max(var(--responsive-padding), env(safe-area-inset-left));
    padding-right: max(var(--responsive-padding), env(safe-area-inset-right));
  }
}

.navbar {
  display: flex;
  height: 100%;
  max-width: 30em;
  align-items: center;
  justify-content: space-around;
  justify-content: space-evenly;
  flex-grow: 1;
}

@media (max-width: 700px) {
  .navbar-wrapper {
    padding: 0 var(--responsive-padding);
    padding-bottom: var(--safe-area-inset-bottom);
  }
}

@supports (
  (-webkit-backdrop-filter: blur(15px)) or (backdrop-filter: blur(15px))
) {
  .navbar-wrapper {
    background-color: rgba(28, 28, 39, 0.925);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
  }

  .navbar-wrapper {
    border-top: 1px rgba(255, 255, 255, 0.05) solid;
  }
}

@media print {
  .navbar-wrapper {
    display: none !important;
  }
}
