:root {
  /* fonts */
  --primaryFont: Juliette, monospace;

  /* colors */
  --background-color: hsl(229, 43%, 10%);
  --pink: hsl(359, 94%, 86%);
  --lightGray: hsl(0, 0%, 84%);
  --gray: hsl(0, 0%, 62%);
  --translucentGray: hsla(0, 0%, 62%, 0.6);
  --yellow: hsl(46, 82%, 74%);
  --orange: hsl(30, 89%, 70%);
  --translucentOrange: hsla(30, 82%, 72%, 0.6);
  --lowTranslucentOrange: hsla(30, 82%, 72%, 0.2);
  --blue: hsl(204, 66%, 68%);
  --lightBlue: hsl(179, 66%, 70%);
  --green: hsl(155, 47%, 54%);
  --translucentGreen: hsla(155, 45%, 60%, 0.6);

  /* sizing */
  --responsive-padding: 3rem;

  --safe-area-inset-top: 0px;
  --safe-area-inset-right: 0px;
  --safe-area-inset-bottom: 0px;
  --safe-area-inset-left: 0px;
}

@supports (padding: env(safe-area-inset-top)) and
  (padding: env(safe-area-inset-right)) and
  (padding: env(safe-area-inset-bottom)) and
  (padding: env(safe-area-inset-left)) {
  :root {
    --safe-area-inset-top: env(safe-area-inset-top);
    --safe-area-inset-right: env(safe-area-inset-right);
    --safe-area-inset-bottom: env(safe-area-inset-bottom);
    --safe-area-inset-left: env(safe-area-inset-left);
  }
}

@media (max-width: 700px) {
  :root {
    --responsive-padding: 1.3rem;
  }
}

@media (max-width: 370px) {
  --responsive-padding: 0.7rem;
}
