@font-face {
  font-family: 'Juliette';
  src: url('fonts/jregular.woff2') format('woff2'),
    url('fonts/jregular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Juliette';
  src: url('fonts/jbold.woff2') format('woff2'),
    url('fonts/jbold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
