@import 'constants';

.index.page {
  display: flex;
  align-items: center;
  max-width: 42.5em;
}

.index-me-wrapper {
  width: 32.5%;
  flex: none;
  margin-right: 1.5em;
}

.index-me {
  max-width: 100%;
}

@media (max-width: $largeBreakpoint) {
  .index.page {
    display: block;
  }

  .index-me-wrapper {
    float: left;
    width: 40%;
  }
}

@media (max-width: 550px) {
  .index.page {
    display: block;
  }

  .index-me-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 0 0 2rem 0;
  }

  .index-me {
    margin: -3rem 0 -4rem 0;
  }
}
