.navbar * {
  transition: all 150ms ease-in-out;
}

.nav-icon {
  transition: all 100ms ease-in-out;
}

.navbar-wrapper {
  background-color: hsl(240, 18%, 13%);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 10;
  padding-left: var(--responsive-padding);
  padding-right: var(--responsive-padding);
  padding-bottom: var(--safe-area-inset-bottom);
}

@supports (padding: max(0px)) {
  .navbar-wrapper {
    padding-left: max(var(--responsive-padding), env(safe-area-inset-left));
    padding-right: max(var(--responsive-padding), env(safe-area-inset-right));
  }
}

.navbar,
.appHeader {
  max-width: 30em;
}

.navbar {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  justify-content: space-evenly;
  flex-grow: 1;
}

.navbar-item {
  position: relative;
  width: 9%;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  text-align: center;
  color: var(--lightGray);
  font-size: 95%;
  line-height: 1;
  text-decoration: none;
  padding: 0.45rem 1.5rem;
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  will-change: background-color;
  background-color: rgba(255, 255, 255, 0);
}

.navbar-item.active {
  background-color: rgba(255, 255, 255, 0.1);
}

.navbar-item-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.navbar .nav-icon {
  display: block;
  opacity: 0.8;
  width: 1.3em;
  height: 1.3em;
  filter: saturate(95%) opacity(95%);
}

.navbar a {
  text-decoration: none;
}

.navbar .active .nav-icon {
  filter: saturate(100%) opacity(100%);
}

.navbar-item:hover .nav-icon {
  filter: saturate(100%) opacity(100%);
}

.navbar-item:hover .navbar-item-content {
  color: rgb(255, 255, 255);
}

.navbar .navbar-item.active .navbar-item-content {
  color: rgb(255, 255, 255);
}

.navbar-item.active:hover .nav-icon {
  filter: saturate(100%) opacity(100%);
  transform: none;
}

.navbar .nav-caption {
  font-size: 0.9rem;
  text-transform: uppercase;
  display: block;
  margin-top: 0.5em;
}

@media (max-width: 700px) {
  .navbar-wrapper {
    padding: 0 var(--responsive-padding);
    padding-bottom: var(--safe-area-inset-bottom);
  }

  .navbar a {
    padding: 0.35rem 1.5rem;
    margin: 0.3rem 0;
  }
}

@supports (
  (-webkit-backdrop-filter: blur(15px)) or (backdrop-filter: blur(15px))
) {
  .navbar-wrapper {
    background-color: rgba(28, 28, 39, 0.925);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
  }

  .navbar-wrapper {
    border-top: 1px rgba(255, 255, 255, 0.05) solid;
  }
}

@media print {
  .navbar-wrapper {
    display: none !important;
  }
}
