.nav-icon {
  transition: all 100ms ease-in-out;
}

.navbar-item {
  transition: all 150ms ease-in-out;
  position: relative;
  width: 9%;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  text-align: center;
  color: var(--lightGray);
  font-size: 95%;
  line-height: 1;
  text-decoration: none;
  padding: 0.45rem 1.5rem;
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  will-change: background-color;
  background-color: rgba(255, 255, 255, 0);
}

.navbar-item.active {
  background-color: rgba(255, 255, 255, 0.1);
}

.navbar-item-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.nav-icon {
  display: block;
  opacity: 0.8;
  width: 1.3em;
  height: 1.3em;
  filter: saturate(95%) opacity(95%);
}

.navbar-item a {
  text-decoration: none;
}

.active .nav-icon {
  filter: saturate(100%) opacity(100%);
}

.navbar-item:hover .nav-icon {
  filter: saturate(100%) opacity(100%);
}

.navbar-item:hover .navbar-item-content {
  color: rgb(255, 255, 255);
}

.navbar-item.active .navbar-item-content {
  color: rgb(255, 255, 255);
}

.navbar-item.active:hover .nav-icon {
  filter: saturate(100%) opacity(100%);
  transform: none;
}

.nav-caption {
  font-size: 0.9rem;
  text-transform: uppercase;
  display: block;
  margin-top: 0.5em;
}

@media (max-width: 700px) {
  .navbar-item a {
    padding: 0.35rem 1.5rem;
    margin: 0.3rem 0;
  }
}
