.navbar-item {
  transition: all 100ms ease-in-out;
  position: relative;
  width: 2ch;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  text-align: center;
  color: var(--gray);
  font-weight: bold;
  font-size: 92.5%;
  line-height: 1;
  text-decoration: none;
  padding: 0.45rem 1.5rem;
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;

  &:hover {
    color: hsl(0, 0%, 69%);
  }

  &[data-styles~='isActive'] {
    color: var(--blue);

    &:hover {
      filter: brightness(1);
    }
  }

  @media (width <= 700px) {
    padding: 0.35rem 1.5rem;
    margin: 0.3rem 0;
  }
}

.navbar-item-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.nav-icon {
  display: block;
  width: 1.3em;
  height: 1.3em;
  filter: saturate(95%) opacity(95%);
  margin-bottom: 0.5rem;
  transition: all 100ms ease-in-out;

  & :hover {
    filter: saturate(100%) opacity(100%);
  }
}

.nav-caption {
  font-size: 0.95rem;
  text-transform: uppercase;
  display: block;
}
